.novidades {
    background: var(--branco);
    padding: 1em;
}

.novidades__titulo {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    font-weight: 500;
}

.novidades__texto {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 1em 0;
    font-weight: 300;
}

.novidades__email {
    width: 95%;
    padding: 1em;
    border: 1px solid var(--cor-titulo-livro);
    border-radius: 24px;
}

.novidades__email::placeholder {
    font-family: var(--font-principal);
    color: var(--cor-titulo-livro);
    background: url("../img/Vector.svg") no-repeat;
    background-position: left 10px top 13px;
    text-align: center;
}

@media screen and (min-width: 1024px) {


    .novidades {
        display: flex;
        justify-content: space-evenly;
        padding: 2em 5em;
    }

    .novidades__div {
        display: flex;
        width: 80%;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    }

    .novidades__frases {
        width: 37%;
        text-align: left;
    }

    .novidades__titulo {
        font-size: 24px;
    }

    .novidades__email {
        width: 35%;
        padding-left: 3em;
    }

    .novidades__email::placeholder {
        text-align: left;
    }

}
